@import './imports.scss';

body {
	background: url('../assets/background.jpg') fixed no-repeat center; 
	background-size: cover;
}

.jumbotron {
	border-radius: 0;
	background-color: transparent;
	p {
		color: $white;
	}
}