@import './imports.scss';

#footer {
	width: 100%;
	color: $white;
	@include gradient (black, $primary-color);
	font-size: 1em;
	margin-bottom: 0;
	p {
		text-indent: 0.5em;
	}
} 
.navbar-bottom {
	margin-bottom: -50px;
	border-radius: 0;
 }
