@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
* {
  font-family: "Monserrat", sans-serif; }

.pictures {
  color: white; }

.gallery {
  justify-content: center; }

h1 {
  text-align: center;
  color: white; }

.pagination {
  justify-content: center; }
  .pagination li {
    background: white;
    min-width: 35px;
    min-height: 30px;
    padding: 5px;
    border: 1px solid gray;
    position: relative;
    text-align: center; }
    .pagination li:hover {
      background: gray; }
    .pagination li a {
      color: #262626;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      .pagination li a:hover {
        text-decoration: none; }
  .pagination .active {
    background: #807f7f; }
    .pagination .active:hover {
      background: #685d5d; }
  .pagination .disabled {
    background: gray; }
    .pagination .disabled:hover {
      background: gray; }

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  padding: 0; }
  .close-button:hover {
    color: gray; }

.modal-description {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.photo {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 5px; }
  .photo img {
    transform-origin: 0 0; }
  .photo:hover img {
    transform: scale(1.2); }

.photo-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s; }
  .photo-overlay:hover {
    opacity: 1; }
  .photo-overlay h2 {
    text-align: center;
    font-size: 1em; }
  .photo-overlay p {
    text-align: center;
    font-size: 12px;
    line-height: 1.1; }

.ReactModal__Content, .ReactModal__Content--after-open {
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
  background: rgba(0, 0, 0, 0.9) !important;
  display: flex; }

.modal-body {
  width: 100%; }
  .modal-body img {
    margin-top: 25px; }

.modal-title h2 {
  font-size: 2em; }

.modal-title p {
  text-indent: 1em;
  color: #BFBFBF; }

.modal-info p {
  margin-bottom: 0;
  text-align: right;
  font-size: 0.9em; }

@media (min-width: 768px) {
  .modal-title h2 {
    font-size: 3em; }
  .modal-body img {
    margin-top: 0px; }
  .photo {
    max-width: 30% !important; } }

* {
  font-family: "Monserrat", sans-serif; }

#topbar {
  width: 100%;
  border-bottom: 1px solid black;
  background: linear-gradient(black, #2A2A8E); }
  #topbar #navbar {
    width: 100%;
    background: linear-gradient(black, #2A2A8E); }
  #topbar img {
    margin: 10px;
    max-width: 100%;
    height: auto;
    height: 50px; }
  #topbar ul {
    padding: 0;
    text-align: center;
    margin-top: -30px;
    display: block; }
  #topbar li {
    font-size: 0.8em;
    margin-top: 30px;
    padding: 10px;
    display: inline-block; }
    #topbar li a {
      color: white;
      text-decoration: none; }
      #topbar li a:hover {
        color: gray; }

@media (min-width: 768px) {
  #topbar ul {
    text-align: left;
    margin-top: 0; }
  #topbar li {
    font-size: 1.3em;
    margin-left: 10px;
    margin-right: 10px; }
  #topbar img {
    height: 85px; } }

* {
  font-family: "Monserrat", sans-serif; }

#footer {
  width: 100%;
  color: white;
  background: linear-gradient(black, #2A2A8E);
  font-size: 1.5em;
  margin-bottom: 0; }
  #footer p {
    margin-right: 10px; }
  #footer #year {
    margin-left: 20px; }

.navbar-bottom {
  margin-bottom: -50px;
  border-radius: 0; }


/*# sourceMappingURL=styles.chunk.css.map*/