@import './imports.scss';



.pictures {
	color: $white;
}

h1 {
	text-align: center;
	color: $white;
}

.pagination {
	justify-content: center;
	li {
		background: $white;
		min-width: 35px;
		min-height: 30px;
		padding: 5px;
		border: 1px solid $darken;
		position: relative;
		text-align: center;
		&:hover {
			background: $darken;
		}
		a {
			color: #262626;
			@include absolute();
			&:hover {
				text-decoration: none;
			}
		}
	}
	.active {
		background: #807f7f;
		&:hover {
			background: #685d5d;
		}
	}
	.disabled {
		background: $darken;
		&:hover {
			background: $darken;
		}
	}
}

.view {
    margin: 10px;
    float: left;
    border: 10px solid $white;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px $white;
	cursor: default;
	img {
    	display: block;
    	position: relative
	}
	h2 {
		text-transform: uppercase;
		color: $white;
		text-align: center;
		position: relative;
		font-size: 16px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
		border-bottom: 1px solid $white;
	}
	p {
		font-size: 12px;
		position: relative;
		color: $white;
		padding: 10px 20px 20px;
		text-align: center
	}
	.info {
		display: inline-block;
		text-decoration: none;
		padding: 7px 14px;
		background: rgb(56,56,56);
		color: $white;
		text-transform: uppercase;
		box-shadow: 0 0 1px #000;
		&:hover {
			background: rgb(14, 14, 14);
		}
	}
}
.view .mask, .view .content {
    position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
}


.view-animation {
	img {
		@include transition(1, all 0.4s ease-in-out 0.5s); 
	}
	.mask{ 
		background-color: rgba(0,0,0,0.5);
		@include transition(0, all 0.3s ease-in 0.4s);
	}
	h2{
		background: transparent;
		@include transition(0, all 0.3s ease-in-out 0.2s, scale(10));
	}
	p {
		@include transition(0, all 0.3s ease-in-out 0.2s, scale(10));
	}
	.info { 
		@include transition(0, all 0.3s ease-in-out 0.1s, translateY(100px));
	}
	&:hover {
		.mask {
			@include transition-delay(1, 0s);
		}
		img { 
			@include transition-delay(1, 0s); 
		}
		h2 { 
			@include transition-delay(1, 0.1s, scale(1)); 
		}
		p { 
			@include transition-delay(1, 0.2s, scale(1));
		}
		.info {
			@include transition-delay(1, 0.3s, translateY(0px)); 
		}
	}
}
